<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	
	  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
	
<title>Lista de Filmes</title>
<style>
.pagination {
	text-align: center;
}
</style>
</head>
<body>

	<header th:replace="fragments/padrao :: cabecalho"></header>

	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Gênero</th>
				<th>Descrição</th>
				<th>Alterar</th>
				<th>Excluir</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="f:${filmes}">
				<td th:text="${f.id}" />
				<td th:text="${f.genero}" />
				<td th:text="${f.descricao}" />
				<td>
					<a th:href="@{/alterarFilme(id=${f.id})}">  
					<i class="material-icons">edit</i>
					</a>
				</td>
				<td>
					<a th:attr="onclick=|return confirm('Desaja excluir o Filme de ID: ${f.id}')|"
						th:href="@{/excluirFilme(id=${f.id})}">  
						<i class="material-icons">delete</i>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
	
<!-- 	<ul class="pagination">
		<li th:class="${pagAtual == 1 ? 'disabled' : 'waves-effect'}"><a
			th:href="${pagAtual > 1 ? pagAtual -1 :'#'}"><i
				class="material-icons">Voltar</i></a></li>

		<li th:each="p:${numPaginas}"><a th:href="${p}"><span
				th:text="${p}"></span></a>
		<li th:class="${pagAtual == totalPags ? 'disabled' : 'waves-effect'}"
			class="waves-effect"><a
			th:href="${pagAtual < totalPags ? pagAtual + 1 : '#'}"> <i
				class="material-icons">Proxima</i></a></li>
	</ul>  -->

	<footer th:replace="fragments/padrao :: rodape"></footer>

</body>
</html>